body{
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* header */

* {
  padding: 0;
  margin: 0;
}

.dropdown{
  display: none;
  position: absolute;
  top: 90%;
  left: 0px;
  height: 200px;
  padding-top: 10px;
}


.drop-link-color{
  color: #000000;
}

.drop-link-color:hover{
  color: #636363;
}

.dropdown-one{
  display: none;
  position: absolute;
  height: 200px;
  padding-top: 10px;
  left: 0;
  top: 90%;
}



.dropdown-two{
  display: none;
  position: absolute;
  top: 90%;
  height: 200px;
  padding-top: 10px;
  left: 0;
}

.dropdown-tree{
  display: none;
  position: absolute;
  top: 90%;
  height: 200px;
  padding-top: 10px;
  left: 0;
}



nav ul li:hover > ul {
  display:inherit;
}


nav  ul ul li {
  min-width:170px;
  float:none;
  display:list-item;
  position: relative;
  list-style-type: none;
  margin-top: 5px;
  font-size: 13px;
}



header{
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  margin: 0 auto; 
  display: flex;
  top: 0;
  background-color: #F3FAFD;
  z-index: 1200;


}


.list{
position: relative;
left: 50px;
}


a{
  text-decoration: none;
  color: #BDBDBD;
}
.navbar{
  width: 1280px;
  margin: 0 auto;
  display: flex;
}


.list .list-item{
  display: inline;
  cursor: pointer;
  color: #000000;
  margin-left: 61px;
}


.list-item{
  position: relative;
  top: 20px;
}




#text-width{
  width: 680px;
}


.button-login {
  color: #000000;
  text-decoration: none;
  position: relative;
  top: 16px;
  left: 250px;

}
.button-demo {
  background-color: #00ADD4;
  width: 126px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #FFFF;
  border-radius: 2px;
  position: relative;
  left: 305px;
  top: 7px;
}

/* body */
/* / */
/* 


/* */ */
/*  */
/*  */
/*  */


/*  */

/*  */
/*  */
/*  */



.color-conteiner{
    width: 100%;
    height: 700px;
    position: absolute;
    background-color: #F3FAFD;
    top: 0;
    left: 0;
}


.fixed-container{
    width: 763px;
    height: 616px;
    margin: 0 auto;
    border: 2px solid #00ADD4;
    background-color: #FFFF;
    position: relative;
    top: 80px;
}

.text-box{
    width: 650px;
    height: 500px;
    margin: 0 auto;

}

.flex-box{
    display: flex;
}

.consent{
    margin-top: 20px;
}

.button{
    position: relative;
    top: 40px;
    left: 0;
    color: #FFFF;
    background-color: #00ADD4;
    border-radius: 2px;
    padding: 15px 40px;
}

.title{
    font-size: 42px;
    letter-spacing: 5px;
}



p{
    color: #ADADAD;
}

.inputName{
    font-size: 18px;
    height: 40px;
    width: 645px;
    padding-left: 10px;
}

.inputNumber{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
}

.prodeuct{
    color: #000;
}

.link-agree{
    color: #006CE2;
    text-decoration:underline;
}
.consent{
    display: flex;
}

.agree{
    margin-left: 10px;
}

.choice-text{
    color: #000;
    margin-left: 5px;
}

.choice{
    display: flex;
}

.checkbox{
    margin-left: 30px;
}

.inputMail{
    width: 300px;
    font-size: 18px;
    height: 40px;
    padding-left: 10px;
}

.numberInput{
    margin-left: 36px;
}

/*  */

footer {
    margin-top: 50px;
}

.footer-box{

  width: 1280px;

}

.logo-footer{
  width: 120px;
  height: 70px;
  position: relative;
  top: 106px;
}
.flex-footer{
  display: flex;
  justify-content: center;
}

.list-footer{
  margin-left: 36px;
  position: relative;
  bottom: 18px;
  left: 95px;

}

.item-list{
  font-size: 14px;
  color: #545454;
  list-style-type: none;
  cursor: pointer;
  margin-top: 12px;
  /* 24 */
}


.item-list-color{
  color: #000;
  list-style-type: none;
  margin-bottom: 24px;
}


.form-select{
  /* position: relative;
  top: 200px;
  padding: 20px;
  
  
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 6px 18px 6px 20px;
gap: 24px;
position: relative;
width: 120px;
height: 33px;
background: #FFFFFF;
border: 1px solid #ADADAD;
border-radius: 6px;
border-radius: 10px;
top: 140px;
}

.icon-footer{
  position: relative;
  top: 3px;
}
